<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>mobile</filter-name>
        <filter-class>filters.mobile</filter-class>
    </filter>
    <filter>
        <filter-name>checkmobile</filter-name>
        <filter-class>filters.checkmobile</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>consultausuario</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>logout</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>Home</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>iniciosesion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>concultacurso</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>consultaediciondecurso</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkmobile</filter-name>
        <servlet-name>consultaPrograma</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>RankingCursos</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>responderComentario</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>ComEdicion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>edicionesAbiertas</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>valorarCursoEst</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>mostrarResultadoEst</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>mostrarResultados</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>IngresarResultado</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>CancelarInscripcion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>listarInscripEdic</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>aceptadosedicion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>SelecEstuEdic</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>checkinscrip</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>InscripcionProg</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>InscripcionEdicion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>AgregarCursoProg</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>modificardatos</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>Programa</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>Edicion</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>Curso</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>ObtenerCertificado</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobile</filter-name>
        <servlet-name>Instituto</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instituto</servlet-name>
        <servlet-class>controller.Instituto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Curso</servlet-name>
        <servlet-class>controller.Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edicion</servlet-name>
        <servlet-class>controller.Edicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programa</servlet-name>
        <servlet-class>controller.Programa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciosesion</servlet-name>
        <servlet-class>controller.iniciosesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarbd</servlet-name>
        <servlet-class>controller.cargarbd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificardatos</servlet-name>
        <servlet-class>controller.modificardatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>concultacurso</servlet-name>
        <servlet-class>controller.consultacurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cursodatos</servlet-name>
        <servlet-class>controller.cursodatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultausuario</servlet-name>
        <servlet-class>controller.consultausuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaediciondecurso</servlet-name>
        <servlet-class>controller.consultaediciondecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edicionCurso</servlet-name>
        <servlet-class>controller.edicionCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ediciondatos</servlet-name>
        <servlet-class>controller.ediciondatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionEdicion</servlet-name>
        <servlet-class>controller.InscripcionEdicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionProg</servlet-name>
        <servlet-class>controller.InscripcionProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cursosCategoria</servlet-name>
        <servlet-class>controller.cursosCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkinscrip</servlet-name>
        <servlet-class>controller.checkinscrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkInscProg</servlet-name>
        <servlet-class>controller.checkInscProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkusuario</servlet-name>
        <servlet-class>controller.checkusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaPrograma</servlet-name>
        <servlet-class>controller.consultaPrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>programadatos</servlet-name>
        <servlet-class>controller.programadatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecEstuEdic</servlet-name>
        <servlet-class>controller.SelecEstuEdic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aceptadosedicion</servlet-name>
        <servlet-class>controller.aceptadosedicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>controller.Busqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarInscripEdic</servlet-name>
        <servlet-class>controller.listarInscripEdic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>controller.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkCurso</servlet-name>
        <servlet-class>controller.checkCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPrograma</servlet-name>
        <servlet-class>controller.checkPrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciar</servlet-name>
        <servlet-class>controller.iniciar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdicionVigente</servlet-name>
        <servlet-class>controller.EdicionVigente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarInscripcion</servlet-name>
        <servlet-class>controller.CancelarInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarResultado</servlet-name>
        <servlet-class>controller.IngresarResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarResultados</servlet-name>
        <servlet-class>controller.mostrarResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarResultadoEst</servlet-name>
        <servlet-class>controller.mostrarResultadoEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valorarCursoEst</servlet-name>
        <servlet-class>controller.valorarCursoEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edicionesAbiertas</servlet-name>
        <servlet-class>controller.edicionesAbiertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComEdicion</servlet-name>
        <servlet-class>controller.ComEdicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responderComentario</servlet-name>
        <servlet-class>controller.responderComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingCursos</servlet-name>
        <servlet-class>controller.RankingCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerCertificado</servlet-name>
        <servlet-class>controller.ObtenerCertificado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEdicion</servlet-name>
        <servlet-class>controller.checkEdicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPrevias</servlet-name>
        <servlet-class>controller.checkPrevias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAceptados</servlet-name>
        <servlet-class>controller.listarAceptados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instituto</servlet-name>
        <url-pattern>/Instituto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curso</servlet-name>
        <url-pattern>/Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edicion</servlet-name>
        <url-pattern>/Edicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programa</servlet-name>
        <url-pattern>/Programa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciosesion</servlet-name>
        <url-pattern>/iniciosesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarbd</servlet-name>
        <url-pattern>/cargarbd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificardatos</servlet-name>
        <url-pattern>/modificardatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>concultacurso</servlet-name>
        <url-pattern>/concultacurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cursodatos</servlet-name>
        <url-pattern>/cursodatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultausuario</servlet-name>
        <url-pattern>/consultausuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaediciondecurso</servlet-name>
        <url-pattern>/consultaediciondecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edicionCurso</servlet-name>
        <url-pattern>/edicionCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ediciondatos</servlet-name>
        <url-pattern>/ediciondatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionEdicion</servlet-name>
        <url-pattern>/InscripcionEdicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionProg</servlet-name>
        <url-pattern>/InscripcionProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cursosCategoria</servlet-name>
        <url-pattern>/cursosCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkinscrip</servlet-name>
        <url-pattern>/checkinscrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkInscProg</servlet-name>
        <url-pattern>/checkInscProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkusuario</servlet-name>
        <url-pattern>/checkusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaPrograma</servlet-name>
        <url-pattern>/consultaPrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>programadatos</servlet-name>
        <url-pattern>/programadatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecEstuEdic</servlet-name>
        <url-pattern>/SelecEstuEdic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aceptadosedicion</servlet-name>
        <url-pattern>/aceptadosedicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarInscripEdic</servlet-name>
        <url-pattern>/listarInscripEdic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkCurso</servlet-name>
        <url-pattern>/checkCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPrograma</servlet-name>
        <url-pattern>/checkPrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciar</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdicionVigente</servlet-name>
        <url-pattern>/EdicionVigente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarInscripcion</servlet-name>
        <url-pattern>/CancelarInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarResultado</servlet-name>
        <url-pattern>/IngresarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarResultados</servlet-name>
        <url-pattern>/mostrarResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarResultadoEst</servlet-name>
        <url-pattern>/mostrarResultadoEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valorarCursoEst</servlet-name>
        <url-pattern>/valorarCursoEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edicionesAbiertas</servlet-name>
        <url-pattern>/edicionesAbiertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComEdicion</servlet-name>
        <url-pattern>/ComEdicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responderComentario</servlet-name>
        <url-pattern>/responderComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingCursos</servlet-name>
        <url-pattern>/RankingCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerCertificado</servlet-name>
        <url-pattern>/ObtenerCertificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEdicion</servlet-name>
        <url-pattern>/checkEdicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPrevias</servlet-name>
        <url-pattern>/checkPrevias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarAceptados</servlet-name>
        <url-pattern>/listarAceptados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>iniciar.jsp</welcome-file>
    </welcome-file-list>
</web-app>
